<h1 style="padding-top: 10px; padding-bottom: 10px;">Log In</h1>

<% if @user == nil %>
  <div class="alert alert-danger" role="alert">
    User not found!
  </div>
<% elsif @user.password == nil %>
  <div class="alert alert-danger" role="alert">
    Password does not match
  </div>
<% end %>

<form action="/login" method="POST">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
</div>
</form>
