<h1 style="padding-top: 10px; padding-bottom: 10px;">Create an account</h1>

<% if @user && @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    All fields are required
  </div>
<% end %>

<form action="/registration" method="post">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Enter email address">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
</div>
</form>
