<h1 style="padding-top: 10px; padding-bottom: 10px;">Create a new event</h1>

<% if @event && @event.errors.any? %>
  <div class="alert alert-danger" role="alert">
    Event name, start date/time, and end date/time are required
  </div>
<% end %>

<form action="/events" method="post">
  <div class="form-group">
      <label for="name">Event Name:</label>
      <input type="text" class="form-control" id="event_name" name="name" placeholder="Enter event name">
    </div>
    <div class="form-group">
      <label for="start_date">Start Date:</label>
      <input type="text" class="form-control" id="event_start_date" name="start_date" placeholder="Enter event start date">
    </div>
    <div class="form-group">
      <label for="start_time">Start Time:</label>
      <input type="text" class="form-control" id="event_start_time" name="start_time" placeholder="Enter event start time">
    </div>
    <div class="form-group">
      <label for="end_date">End Date:</label>
      <input type="text" class="form-control" id="event_end_date" name="end_date" placeholder="Enter event end date">
    </div>
    <div class="form-group">
      <label for="end_time">End Time:</label>
      <input type="text" class="form-control" id="event_end_time" name="end_time" placeholder="Enter event end time">
    </div>
    <div class="form-group">
      <label for="start_date">Description:</label>
      <textarea rows="6" class="form-control" id="event_description" name="description" placeholder="Enter event description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Create Event</button>
  </div>
</form>
